.discover {
  @include container(90em);
  overflow: hidden;
  margin-top: 25px;

  &__filters {
    text-align: center;
    margin-top: 15px;
  }

  &__movie {
    @media only screen and (max-width: 767px) {
      padding: 0.5rem;
    }
    @include breakpoint($tablet) {
      @include gallery(5 of 10);
    }

    @include breakpoint($desktop) {
      @include gallery(2 of 10);
    }

    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;

    &__title {
      font-size: 1.2em;
      margin-top: 7px;
      text-align: center;
    }
  }

  &__movie img {
    height: 450px;
    width: 100%;

    @include breakpoint($tablet) {
      height: 450px;
    }

    @include breakpoint($desktop) {
      height: 350px;
    }

    &:hover {
      -webkit-filter: brightness(70%);
      transition: all 1s ease;
    }
  }
}
