.movie {

  &__header {
    @include container(90em);
    overflow: hidden;
    margin-top: 50px;

    &__rating {
      position: relative;
      top: -2px;
      font-size: 0.8em;
      background-color: #51b6bb;
      color: white;
      border-radius: 3px;
      padding: 5px 8px;
      line-height: 70%;
    }

    &__poster {
      @include span(3 of 12);
    }

    &__info {
      @include span(9 of 12 last);
    }

    &__facts__left {
      @include span(6 of 12);
    }

    &__facts__right {
      @include span(6 of 12 last);
    }

  }

  &__trailers {
    background-color: lighten(#4c6575, 60%);
    margin-top: 50px;
    padding: 15px 0px 50px 0px;

    &__content {
      @include container(90em);
    }

    &__container {
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      padding-bottom: 15px;
    }

    &__video {
      margin-right: 10px;
    }
  }

  &__media {
    margin-top: 50px;
    padding: 15px 0px 50px 0px;

    &__content {
      @include container(90em);
    }

    &__container {
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      padding-bottom: 15px;
    }

    img {
      float: left;
      margin-right: 10px;
    }

  }

}


.genre {
  margin: 0px;
  padding: 0px;

  li {
    display: inline;
    background-color: #51b6bb;
    color: white;
    border-radius: 3px;
    padding: 5px 7px;
    margin-right: 5px;
  }
}
