.search {
  @include container(90em);
  overflow: hidden;
  margin-top: 15px;

  &__input {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.5em;
    padding: 4px;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &__results {
    @include container(90em);
    overflow: hidden;
    position: absolute;
    background-color: white;
    @media only screen and (min-width: 768px) {
      width: 90em;
    }
    
    box-shadow: 10px 10px 8px #888888;
  }

  &__item {
    font-size: 1.3em;
    padding: 5px;
    @include susy-clearfix;
    cursor: pointer;
    
    &:hover {
      background-color: lighten(silver, 22%);
    }

    &__title {
      float: left;
    }

    &__release {
      float: right;
      font-size: 0.7em;
    }
  }


}
