.sitenav {
  background-color: #4c6575;
  overflow: hidden;

  &__container {
    @include container(90em);
  }

  &__logo {
    font-size:1.8em;
    margin: 20px 0px;
    padding-left: 20px;

    a {
      text-decoration: none;
      color: white !important;
    }

    @include breakpoint($desktop) {
      padding-left: 0px;
    }
  }
}
