@import '~susy/sass/susy';
@import '~breakpoint-sass/stylesheets/breakpoint';

$mobile: max-width 768px;
$tablet: 769px 1024px;
$desktop: 1025px;

@import 'sitenav';
@import 'discover';
@import 'search';
@import 'movie';

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, h1, h2, h3 {
  font-weight: 300;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    color: #5aadbb;
  }
}
